---
---

@import "{{ site.theme }}";

p {
    text-align: justify;
}

img {
    display: block;
    margin: auto;
}

img + em {
    display: block;
    text-align: center;
    font-style: normal; 
    font-size: smaller;
}
